QWidget#main-window {
    background-color: #59A;
}

QTabWidget {
    background-color: #ccc;
}

QTabBar::tab {
    background-color: #048;
    border: 1px solid #037;
    padding: 2px 5px;
}

QTabBar::tab:hover {
    background-color: #059;
    border-color:#048;
}