QListWidget {
    background-color: #048;
    border: 2px solid #037;
}

QListWidget::item {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

QListWidget::item:active {
    background-color: #ddd;
}

QLabel#tab-label {
    color: #000;
}

QPushButton#tab-button {
    background-color: #048;
    border: 2px solid #037;
    color: #fff;
}

QPushButton#tab-button:hover {
    background-color: #059;
    border-color: #048;
}

QTextEdit, QLineEdit, QDateEdit, QComboBox {
    background-color: #fff;
    color: #000;
}

QTextEdit:disabled, QLineEdit:disabled, QDateEdit:disabled, QComboBox:disabled {
    background-color: #eee;
    color: #000;
}

QDialog#form-cont, QMessageBox {
    background-color: #59A;
    color: #000;
}

QTableWidget#table {
    background-color: #fff;
    color: #000;
}

QHeaderView {
    background-color: #048;
    color: #fff;
}